.word-cloud {
    width         : 960px;
    margin        : auto;
    padding-top   : 30px;
    padding-bottom: 30px;
    overflow-wrap : break-word;
}

.word-cloud .container {
    width     : 100%;
    text-align: center;
}

.word-cloud .container .word {
    padding            : 5px 20px;
    background-color   : var(--brand_secondary);
    background-color   : var(--brand_primary);
    text-transform     : capitalize;
    /* background-color: red; */
    color              : white;
    margin             : 5px;
    display            : inline-block;
    border-radius      : 5px;
    font-weight        : bold;
    text-shadow        : 0 0 3px black;
    box-shadow         : 0 0 10px grey;
    cursor             : pointer;
    transition         : all 0.2s;
}

.word-cloud .container .word:hover {
    box-shadow: 0 0 10px yellow;
    transform : scale(1.1);
}