.banner {
    margin-top            : 60px;
    /* min-height         : 50vh; */
    height                : calc(80vh - 60px);
    height                : 400px;
    /* height             :calc(80vh - 60px); */
    /* background-image   : url(https://assets.teachablecdn.com/page-block-default-images/banner.jpg); */
    /* background-image   : url(https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80); */

    /* background-color: red; */
    background-size    : cover;
    background-position: center;
    display            : flex;
    align-items        : center;
    overflow : hidden;
}

.banner:before {
    position: absolute;
    display         : block;
    content         : "";
    width           : 100%;
    /* left            : -10%; */
    height          : 420px;
    /* margin-top : -20px; */
    background-image: url(https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-position: center;
    background-size: cover;
    -webkit-filter  : blur(2px);
    -moz-filter     : blur(2px);
    -o-filter       : blur(2px);
    -ms-filter      : blur(2px);
    filter          : blur(2px);
    position        : absolute;
    z-index         : -1;
}

.banner__inner {
    width       : 628px;
    margin-left : auto;
    margin-right: auto;
    color       : white;
    text-align  : center;

}

.banner__inner h1 {
    font-size  : 2.2rem;
    line-height: 72px;
    font-weight: 700;
    margin     : 0;
}

.banner__inner p {
    color         : white;
    font-size     : .8rem;
    font-family   : var(--font_family);
    font-weight   : 700;
    margin        : 0;
    display       : block;
    padding-top   : 20px;
    padding-bottom: 20px;
}

.banner__button {
    border-radius   : 25px;
    padding         : 13px 18px;
    border          : none;
    background-color: var(--brand_secondary);
    color           : white;
    line-height     : 24px;
    font-size       : .8rem;
    font-family     : var(--font_family);
    font-weight     : 700;
    padding-left    : 50px;
    padding-right   : 50px;
    margin-top      : 30px;
    margin-bottom   : 60px;
    cursor          : pointer;
    user-select     : none;
    box-shadow      : 0 0 0 white;
    transition      : box-shadow 0.2s;
}

.banner__button:hover {
    box-shadow: 0 0 10px white;
}