.lesson__video__container{
    background-color: rebeccapurple;
    /* padding: 10px; */
}
.lesson__videoplayer{
    background-color: black;
    display: grid;
    place-items: center;
    outline-style: none;
    position: relative;
}